<ion-header>
  <ion-toolbar>
    <ion-title>
    	Unidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let unidade of unidades">
    <ion-card-header>
      	{{unidade.nome}}
    </ion-card-header>
  
    <ion-card-content *ngFor="let especialidade of unidade.especialidades">

	    	<ion-item color='dark'>
	      		<ion-icon slot='start' name="information-circle"></ion-icon>
	    		Especialidade: {{especialidade.nome}} 
	    	</ion-item>

    	<ion-item-sliding>
	    	<ion-item-options>
	    		<ion-item-option>
	    			<ion-icon name="help-circle-outline"></ion-icon>
	    		</ion-item-option>
	    	</ion-item-options>
	    	<ion-item>
	    		<ion-icon slot='start' name="radio-button-on"></ion-icon>
	    		Leitos Ocupados:  {{especialidade.o}} 	
	    	</ion-item>
    	</ion-item-sliding>

	    <ion-item-sliding>
	    	<ion-item-options>
	    		<ion-item-option>
	    			<ion-icon name="help-circle-outline"></ion-icon>
	    		</ion-item-option>
	    	</ion-item-options>
	    	<ion-item>
	    		<ion-icon slot='start' name="radio-button-off"></ion-icon>
	    		Leitos Disponíveis:  {{especialidade.d}} 
	    	</ion-item>
    	</ion-item-sliding>
    </ion-card-content>
  
  </ion-card>
</ion-content>
